extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Modificar Reserva'

      div(class='form-nuevoreserva')
        form(class=['ui', 'form'] action='http://localhost:3000/editarreserva' method='post')
          div(class=['ui', 'field'])
            label(for='runCliente')= 'RUN Cliente'
            input(type= 'text' name='runCliente' placeholder='RUN del Cliente' value=reserva[0].runCliente)
          div(class=['ui', 'field'])
            label(for='runCamarero')= 'RUN Camarero'
            input(type= 'text' name='runCamarero' placeholder='RUN del Camarero' value=reserva[0].runCamarero)
          div(class=['ui', 'two', 'fields'])
            div(class=['ui', 'field'])
              label(for='fechaReserva')= 'Fecha Reserva'
              input(type= 'text' name='fechaReserva' placeholder='yyyy-mm-dd h:MM:ss' value=reserva[0].fecha_reserva)
            div(class=['ui', 'field'])
              label(for='cantidadPersonas')= 'Cantidad de Comensales'
              input(type= 'text' name='cantidadPersonas' placeholder='cantidad' value=reserva[0].cantidadComensales)
              input(type= 'hidden' name='id_reserva' value=reserva[0].id)
          button(class=['ui', 'button', 'basic', 'black'])= 'Modificar Reserva'
          div(class=['ui', 'message', 'error'])

      
  script(src='/javascripts/validacion.js')

