extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Crear Reserva'

      div(class='form-nuevoreserva')
        form(class=['ui', 'form'] action='http://localhost:3000/crearreserva' method='post')
          div(class=['ui', 'field'])
            label(for='runCliente')= 'RUN Cliente'
            input(type= 'text' name='runCliente' placeholder='RUN del Cliente')
          div(class=['ui', 'field'])
            label(for='runCamarero')= 'RUN Camarero'
            input(type= 'text' name='runCamarero' placeholder='RUN del Camarero')
          div(class=['ui', 'two', 'fields'])
            div(class=['ui', 'field'])
              label(for='fechaReserva')= 'Fecha Reserva'
              input(type= 'text' name='fechaReserva' placeholder='yyyy-mm-dd h:MM:ss')
            div(class=['ui', 'field'])
              label(for='cantidadPersonas')= 'Cantidad de Comensales'
              input(type= 'text' name='cantidadPersonas' placeholder='cantidad')
          button(class=['ui', 'button', 'basic', 'black'])= 'Crear Reserva'
          div(class=['ui', 'message', 'error'])

      if info != undefined
        div(class=['ui', 'message', 'success'])
          i(class=['close', 'icon'])
          div(class='header')= 'Reserva registrada'
          p= info

  script(src='/javascripts/validacion.js')

