extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Lista de reservas'

      table(class=['ui', 'table', 'celled'] id='tbl-reservas')
        thead
          tr
            th= 'ID'
            th= 'RUN Cliente'
            th= 'RUN Camarero'
            th= 'Fecha Reserva'
            th= 'Cantidad de Comensales'
            th= 'Fecha Creación'
            th= 'Acciones'
        tbody
          each reserva in reservas
            tr
              td(id='id_reserva')= reserva.id
              td= reserva.runCliente
              td= reserva.runCamarero
              td= reserva.fecha_reserva
              td= reserva.cantidadComensales
              td= reserva.fecha_creacion
              td
                a(class=['ui button basic icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui button basic icon'] href='http://localhost:3000/modificarreserva/'+reserva.id data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['cut icon'])

  script(src='/javascripts/reservas.js')