extends default

block content

  include templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h3(class=['ui', 'header', 'blue'])= 'Bienvenido al sistema de administración del Restaurante Liguria'
