div(class=['ui', 'pointing', 'menu'])
  a(class='item' href='http://localhost:3000/')= 'Inicio'
  a(class='item' href='http://localhost:3000/nuevoproducto')= 'Nuevo Producto'
  a(class='item' href='http://localhost:3000/productos')= 'Ver Productos'  
  a(class='item' href='http://localhost:3000/nuevocliente')= 'Nuevo Cliente'
  a(class='item' href='http://localhost:3000/clientes')= 'Ver Clientes' 
  a(class='item' href='http://localhost:3000/nuevocamarero')= 'Nuevo Camarero'
  a(class='item' href='http://localhost:3000/camareros')= 'Ver Camareros' 
  a(class='item' href='http://localhost:3000/nuevoreserva')= 'Nueva Reserva'
  a(class='item' href='http://localhost:3000/reservas')= 'Ver Reservas' 
  div(class=['right', 'menu'])
    div(class='item')
      div(class=['ui', 'transparent', 'icon', 'input'])
        input(type='text' placeholder='Buscar...')
        i(class=['search', 'link', 'icon'])