extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Lista de clientes'

      table(class=['ui', 'table', 'celled'] id='tbl-clientes')
        thead
          tr
            th= 'ID'
            th= 'RUN'
            th= 'Nombre'
            th= 'Apellido Paterno'
            th= 'Apellido Materno'
            th= 'Telefono'
            th= 'Email'
            th= 'Fecha de Creación'
            th= 'Acciones'
        tbody
          each cliente in clientes
            tr
              td(id='id_cliente')= cliente.id
              td= cliente.run
              td= cliente.nombre
              td= cliente.apellidoPaterno
              td= cliente.apellidoMaterno
              td= cliente.telefono
              td= cliente.email
              td= cliente.fecha_creacion
              td
                a(class=['ui button basic icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui button basic icon'] href='http://localhost:3000/modificarcliente/'+cliente.id data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['cut icon'])

  script(src='/javascripts/clientes.js')