extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Modificar Cliente'

      div(class='form-nuevocliente')
        form(class=['ui', 'form'] action='http://localhost:3000/editarcliente' method='post')
          div(class=['ui', 'field'])
            label(for='run')= 'RUN'
            input(type= 'text' name='run' placeholder='Run' value=cliente[0].run)
          div(class=['ui', 'field'])
            label(for='nombre')= 'Nombre del cliente'
            input(type= 'text' name='nombre' placeholder='Nombre' value=cliente[0].nombre)
          div(class=['ui', 'two', 'fields'])
            div(class=['ui', 'field'])
              label(for='apellidoPaterno')= 'Apellido Paterno'
              input(type= 'text' name='apellidoPaterno' placeholder='Apellido Paterno' value=cliente[0].apellidoPaterno)
            div(class=['ui', 'field'])
              label(for='apellidoMaterno')= 'Apellido Materno'
              input(type= 'text' name='apellidoMaterno' placeholder='Apellido Materno' value=cliente[0].apellidoMaterno)
          div(class=['ui', 'field'])
            label(for='telefono')= 'Telefono'
            input(type= 'text' name='telefono' placeholder='Telefono' value=cliente[0].telefono)
          div(class=['ui', 'field'])
            label(for='email')= 'Email'
            input(type= 'text' name='email' placeholder='Email' value=cliente[0].email)
            input(type= 'hidden' name='id_cliente' value=cliente[0].id)
          button(class=['ui', 'button', 'basic', 'black'])= 'Modificar Cliente'
          div(class=['ui', 'message', 'error'])

      
  script(src='/javascripts/validacion.js')

