extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Crear Cliente'

      div(class='form-nuevocliente')
        form(class=['ui', 'form'] action='http://localhost:3000/crearcliente' method='post')
          div(class=['ui', 'field'])
            label(for='run')= 'RUN'
            input(type= 'text' name='run' placeholder='Run')
          div(class=['ui', 'field'])
            label(for='nombre')= 'Nombre del cliente'
            input(type= 'text' name='nombre' placeholder='Nombre')
          div(class=['ui', 'two', 'fields'])
            div(class=['ui', 'field'])
              label(for='apellidoPaterno')= 'Apellido Paterno'
              input(type= 'text' name='apellidoPaterno' placeholder='Apellido Paterno')
            div(class=['ui', 'field'])
              label(for='apellidoMaterno')= 'Apellido Materno'
              input(type= 'text' name='apellidoMaterno' placeholder='Apellido Materno')
          div(class=['ui', 'field'])
            label(for='telefono')= 'Telefono'
            input(type= 'text' name='telefono' placeholder='Telefono')
          div(class=['ui', 'field'])
            label(for='email')= 'Email'
            input(type= 'text' name='email' placeholder='Email')
          button(class=['ui', 'button', 'basic', 'black'])= 'Crear Cliente'
          div(class=['ui', 'message', 'error'])

      if info != undefined
        div(class=['ui', 'message', 'success'])
          i(class=['close', 'icon'])
          div(class='header')= 'Cliente registrado'
          p= info

  script(src='/javascripts/validacion.js')

